:root {
  --col-primary: hsl(0, 92%, 33%);
  --col-secondary: hsl(45, 100%, 60%);
  --col-text: hsl(219, 29%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Quattrocento', serif;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
  color: var(--col-text);
}

.container {
  margin: 0 auto;
  max-width: 80ch;
}

/* NAVIGATION */
header {
  position: sticky;
  top: 0;
}

.nav {
  background-color: var(--col-primary);
  padding: 0.5rem 4.4rem;
  margin-bottom: 2rem;
  color: var(--col-secondary);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  list-style: none;
}

.nav__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__img {
  height: 6.2rem;
}

.nav__title {
  letter-spacing: -2px;
  font-size: 2.4rem;
  font-weight: 700;
}

.nav__item:link,
.nav__item:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  transition: all 0.25s ease;
  color: inherit;
  font-size: 1.4rem;
}

.nav__item:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  filter: brightness(1.3);
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1rem;
}

/* FIGURE */
.fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.fig__img {
  width: 60%;
}

.fig__img--vertical {
  width: 15%;
}

.fig__caption {
  text-align: center;
  font-size: 1.4rem;
}

/* TYPOGRAPHY */
.heading-primary,
.heading-secondary {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.heading-primary {
  font-size: 3rem;
}

.heading-secondary {
  font-size: 2.4rem;
}

.paragraph {
  text-indent: 4ch;
  text-align: justify;
}

/* FORM */
fieldset {
  border: none;
}

.form {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

input[type='text'],
textarea {
  width: 30ch;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: initial;
}

textarea {
  resize: none;
  height: 12.4rem;
  width: 100%;
}

label {
  font-size: 1.5rem;
  font-weight: 700;
}

.form button {
  font-family: inherit;
  background-color: var(--col-primary);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}

.form button:hover {
  filter: brightness(1.3);
}

ul {
  list-style-position: inside;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}

.gallery__item {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.gallery__item img {
  overflow: hidden;
  width: 100%;
}

.gallery figcaption {
  font-size: 1.4rem;
}

.gallery__item--4 {
  grid-column: 1 / span 3;
}

.gallery__item--5 {
  grid-column: 4 / span 3;
}

.gallery__item--1 {
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  grid-column: 3 / span 2;
}

.gallery__item--3 {
  grid-column: 5 / span 2;
}

/* QUERRIES */
@media (max-width: 900px) {
  .nav__title {
    display: none;
  }

  .container {
    max-width: 80%;
  }

  .nav__list {
    gap: 2rem;
  }
}
