:root {
  --col-primary: hsl(0, 92%, 33%);
  --col-secondary: hsl(45, 100%, 60%);
  --col-text: hsl(219, 29%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Quattrocento', serif;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
  color: var(--col-text);
}

.container {
  margin: 0 auto;
  max-width: 80ch;
}

/* NAVIGATION */
header {
  position: sticky;
  top: 0;
}

.nav {
  background-color: var(--col-primary);
  padding: 0.5rem 4.4rem;
  margin-bottom: 2rem;
  color: var(--col-secondary);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 4.4rem;
  list-style: none;
}

.nav__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__img {
  height: 6.2rem;
}

.nav__title {
  letter-spacing: -2px;
  font-size: 2.4rem;
}

.nav__item:link,
.nav__item:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  transition: all 0.25s ease;
  color: inherit;
}

.nav__item:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  filter: brightness(1.3);
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1rem;
}

/* FIGURE */
.fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.fig__img {
  width: 75%;
}

.fig__img--vertical {
  width: 20%;
}

.fig__caption {
  text-align: center;
  font-size: 1.4rem;
}

/* TYPOGRAPHY */
.heading-primary {
  margin-bottom: 1.6rem;
}

.heading-secondary {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
}

.paragraph {
  text-indent: 4ch;
  text-align: justify;
}
